//
//  Debug-Remote.xcconfig
//  Runner
//
//  Created by Hank Yu on 2026/1/21.
//

// Include Remote variables
#include "Remote.xcconfig"

// Include Pods Debug settings
// Note: After running `pod install`, CocoaPods will generate corresponding files based on the Configuration name.
#include "../../Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-remote.xcconfig"
