{
	"recoveryCode": "67048",
	"password": "7qW19st5m@",
    "serialNumber": "67A10M24F00066",
	"defaultWiFi": {
		"ssid": "Linksys00066",
		"password": "7qW19st5m@"
	},
	"wifiBands": "2.4,5,guest",
	"isHealthCheckSupported": "true"
}
