<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110788105434-2jp7p5sdmi448a623ur2hj77ljfe3tjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110788105434-2jp7p5sdmi448a623ur2hj77ljfe3tjt</string>
	<key>API_KEY</key>
	<string>AIzaSyAEG6J_AFleZcp06s5lUINsLmdoVwA90kI</string>
	<key>GCM_SENDER_ID</key>
	<string>110788105434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linksys.app.ios</string>
	<key>PROJECT_ID</key>
	<string>linksys-app-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>linksys-app-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110788105434:ios:bac9ae53b469127f7281e3</string>
</dict>
</plist>